.profile-page-container {
    display: flex;
    align-items: center;
    height: fit-content;
    margin: 40px 50px;
    border: 1px solid rgb(118, 118, 118);
    background: #1e1f20;
    padding: 20px 30px;

    border-radius: 25px;

    & div {
        font-size: larger;
    }
}

.pic-container {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;

    & .navbar-profile-pic {
        height: 80px;
        width: 80px;
    }
    margin-right: 15px;
}
