PORT = {PORT NO}
MONGOOSE_URL= {DB URL}
SALTROUNDS = {SALT ROUNDS FOR BCRYPT}
JWT_SECRET_KEY = {SECRET KEY FOR JWT}
NODE_ENV = {"development" || "production"}

CLIENT_ID = {YOUR GOOGLE CLIENT ID}
CLIENT_SECRET = {YOUR GOOGLE CLIENT SECRET}
CLIENT_URL = {FRONTEND URL}
SESSION_SECRET = {SESSION SECRET FOR SESSION KEY}

OTP_SERVICE_URL = {OTP SERVICE URL}