.upper-part-container {
    background: #1e1f20;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding-inline: 30px;
    height: 56px;
}

.upper-part-left-part,
.upper-part-right-part {
    display: flex;
    align-items: center;
}

.table-id {
    margin-left: 10px;
    font-weight: 400;
    background: #000;
    padding-inline: 10px;
    border-radius: 10px;
}

.table-name {
    display: flex;
    align-items: center;
    height: 80%;
    border: 1px dashed rgb(118, 118, 118);
    padding-inline: 30px;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    overflow: hidden;

    &:hover {
        background: #00000050;
    }
}

.edit-table-input-box {
    display: flex;
    align-items: center;
    height: 80%;
    font-size: 2em;
    border: 1px dashed rgb(118, 118, 118);
    padding-inline: 30px;
    border-radius: 20px;
    cursor: text;
    width: 200px;
    background: #00000050;
}

.edit-table-btns {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgb(118, 118, 118);
}

.table-name-shimmer-width {
    width: 261px;
    height: 80%;
    border-radius: 20px;
}

.table-nav-btn {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(118, 118, 118);
}

.table-nav-dlt-btn,
.edit-close-btn {
    &:hover {
        background: rgb(122, 0, 0);
    }
}

.table-nav-code-btn,
.edit-save-btn {
    &:hover {
        background: rgb(29, 7, 138);
    }
}

.table-name-edit-tip {
    font-weight: 400;
    margin-left: 40px;
}

.dlt-tbl-btn-container {
    position: relative;
}

.dlt-confirmation-popup {
    z-index: 10;
    position: absolute;
    height: 200px;
    width: 300px;
    top: 0;
    right: 0;
    background: #141313;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 20px;
    padding: 10px;
}

.popup-upper {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;

    & span {
        padding: 5px;
        border-radius: 50%;
        border: 1px solid rgb(118, 118, 118);
        cursor: pointer;
        font-weight: 200;

        &:hover {
            background: #005a01;
        }
    }
}

.popup-lower {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    & h4 {
        font-weight: 300;
    }

    & h5 {
        font-weight: 300;
    }

    & span {
        background: #000;
        border: 1px solid rgb(171, 9, 9);
        padding-inline: 9px;
        border-radius: 15px;
    }
}

.delete-input {
    all: unset;
    margin-block: 10px;
    width: 60%;
    background: #000;
    border: 1px solid rgb(171, 9, 9);
    border-radius: 15px;
    padding: 5px 10px;
}

.confirm-dlt-btn {
    all: unset;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid rgb(171, 9, 9);

    &:hover {
        background: rgb(171, 9, 9);
    }
}
