PORT = {PORT NO}

NODE_ENV = {"development" || "production"}


MAILER_CLIENT_ID = {MAILING CLIENT ID}
MAILER_CLIENT_SECRET = {MAILING SECRET}
MAILER_GMAIL_ADDRESS = {GMAIL ADDRESS OF MAILER}
MAILER_REFRESH_TOKEN = {GOOGLE'S REFRESH TOKEN OF OAUTH2}